.itemBox {
    margin-bottom: 17px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #575454;
    background: #1E1D1D;
}

.itemHeader {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoBox {
    display: flex;
    align-items: center;
}

.logoTitle {
    margin-left: 8px;
    font-size: 16px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    margin-left: 8px;
    max-height: 21px;
    border: 1px solid #575454;
    border-radius: 4px;
    font-size: 11px;
    padding: 4px 6px;
}

.title {
    width: 100%;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 600;
}

.description {
    margin-top: 8px;
    width: 100%;
    font-size: 13px;
}